h1 {
    font-family: sans-serif;
    font-style: italic;
    text-decoration: underline;
}

li span {
    font-size: 1.5em;
    font-family: sans-serif;
}

li span.done {
    text-decoration: line-through;
    color: coral;
}

li span.todo {
    color: blue;
}

li span.timestamp {
    padding-left: 0.5em;
    font-size: 1em;
    font-style: italic;
    color: grey;
}